.btn{
    background-color: #033D2F;
    color: #95eb1f;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn:hover{
    background-color: #95eb1f;
    color: #033D2F;
}